* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-image: url(images/comp-challenge-two.jpeg);*/
  background-size: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav main main";
  max-width: 1440px;
  min-width: 320px;
}

/* Nav Section Begins Here */

nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1.5fr 3fr;
  background-color: #3b5998;
  color: #8b9dc3;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-bottom: solid #293e6a 2px;
}

.profile-pic {
  height: 100px;
  border-radius: 50px;
}

.profile-name {
  padding-top: .75rem;
  text-align: center;
  font-weight: bold;
}

.nav-sub {
  border-bottom: solid #293e6a 2px;
  padding-bottom: 2rem;
}

h3 {
  padding: 1.5rem;
  font-weight: bold;
  font-size: .75rem;
}

.nav-links {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 25px 10px;
  font-weight: bold;
}

.flex-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  /*padding-right: 1.25rem;*/
  font-size: 1.25rem;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.nav-link {
  /*padding-top: 1.25rem;*/
  text-align: left;
  text-transform: uppercase;
  font-size: .75rem;
}

/*.icon:hover, .nav-link:hover {
  color: #fff;
  background-color: #293e6a;
}*/

/* Header Begins Here */

header {
  border: solid black 2px;
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.search-bar {
  border: solid green 5px;
}

.job-title {
  border: solid yellow 5px;
}

main {
  border: solid black 2px;
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "graphs graphs"
    "description social"
    "description social";
  grid-template-columns: 3fr 1.3fr;
  grid-template-rows: 1fr 2fr;
}

.graphs {
  grid-area: graphs;
  border: solid blue 5px;
}

.description {
  grid-area: description;
  border: solid orange 5px;
}

aside {
  grid-area: social;
  border: solid green 5px;
}