* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #8b9dc3;
  background-color: #fff;
  /*background-image: url(images/comp-challenge-two.jpeg);*/
  background-size: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1.25fr 3fr 3fr;
  grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav main main";
  max-width: 1440px;
  min-width: 320px;
}

/* Nav Section Begins Here */

nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1.5fr 4.4fr;
  background-color: #3b5998;
  color: #8b9dc3;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-bottom: solid #293e6a 2px;
}

.profile-pic {
  height: 100px;
  border-radius: 50px;
  border: solid #293e6a 2px;
}

.profile-name {
  padding-top: .75rem;
  text-align: center;
  font-weight: bold;
}

.nav-sub {
  border-bottom: solid #293e6a 2px;
  padding-bottom: 2rem;
}

h3 {
  padding: 1.5rem;
  font-weight: bold;
  font-size: .75rem;
}

.nav-links {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 25px 10px;
  font-weight: bold;
}

.flex-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  /*padding-right: 1.25rem;*/
  font-size: 1.25rem;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.nav-link {
  /*padding-top: 1.25rem;*/
  text-align: left;
  text-transform: uppercase;
  font-size: .75rem;
}

/*.icon:hover, .nav-link:hover {
  color: #fff;
  background-color: #293e6a;
}*/

/* Header Begins Here */

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
  /*background-color: #fff;*/
}

.search-bar {
  display: flex;
  color: #8b9dc3;
}

.search-div {
  border: solid #dfe3ee 2px;
  flex-direction: row;
  padding: 2rem;
}

.no-border {
  border-right: none;
}

input[type=search],
::-webkit-input-placeholder {
  flex-grow: 2;
  padding-left: 0px;
  color: #8b9dc3;
  font-size: 1rem;
  border-left: none;
}

h1 {
  padding-bottom: .5rem;
  color: #293e6a
  font-weight: lighter;
  color: #293e6a;
  font-size: 2rem;
}

.job-title {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.top-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-details {
  flex-grow: 2;
  padding-left: 3rem;
  /*align-items: center;*/
}

.inline {
  display: flex;
  flex-direction: row;
  /*color: #dfe3ee;*/
  font-size: .75rem;
}

.location-preview {
  margin-right: 1rem;
}

}
.highlight {
  margin-left: 1rem;
  color: #6E92B7;
}

.title-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  padding: 0px 30px 0px 30px;
}

.title-button {
  border-radius: 50px;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #8b9dc3;
  font-family: 'Open Sans', sans-serif;
  border: solid #dfe3ee 2px;
}

.bottom-title {
  padding-left: 3rem;
}

.button-tabs {
  height: 100%;
  text-transform: uppercase;
  background-color: #ffffff;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #8b9dc3;
  border: none;
}

/* Main Section Begins Here */

main {
  background-color: #EDF2F6;
  border: solid black 2px;
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "graphs graphs"
    "description social"
    "description social";
  grid-template-columns: 3fr 1.3fr;
  grid-template-rows: 1fr 2fr;
}

/* Graphs Begin Here*/

.graphs {
  grid-area: graphs;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.circle-graphs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle-graph {
  width: 33%;
  justify-content: space-between;
}

.graph {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 100px;
}

.circle-bg {
  fill: none;
  stroke: #E1E1E6;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.graph.green .circle {
  stroke: #93C8CC;
}

.graph.blue .circle {
  stroke: #6E92B7;
}

.graph.pink .circle {
  stroke: #8F7A94;
}

.number {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.type {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.20em;
  text-anchor: middle;
  text-transform: uppercase;
}

/*end of graphs*/

.description {
  grid-area: description;
  border: solid orange 5px;
}

aside {
  grid-area: social;
  border: solid green 5px;
}